{{>header.inc {extracss:'home'} }}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	{{{content}}}
            </div>
        </div>
        {{^hide_featured_posts}}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        	{{#featured}}
            
	                <div class="thumbnail post-preview">
	                    <a href="/{{uri}}">
                        	{{#image}}<img src="/images/{{image #safe_thumb{w:512} }}" srcset="{{image #safe_srcset{w:'512,800'} }}" sizes="100vw">{{/image}}
	                        <h3>{{title}}</h3>
                       		<h4>{{^subtitle}}{{metadesc}}{{/subtitle}}{{subtitle}}</h4>
	                    </a>
	                        <p class="post-meta">Posted by <a href="{{author_url}}#{{author}}">{{author}}</a> on {{date.formatted}}
							</p>
	                </div>
	    	{{/featured}}
	    </div></div>{{/hide_featured_posts}}
        {{^hide_popular_posts}}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	<div class="row">{{#popular}}
	            <div class="col-md-6 col-xs-10">
	                <div class="thumbnail post-preview">
	                    <a href="/{{uri}}">
                        	{{#image}}<img src="/images/{{image #safe_thumb{w:512} }}" srcset="{{image #safe_srcset{w:'512,800'} }}" sizes="(max-width:980px) 75vw, 380px">{{/image}}
	                        <h3>{{title}}</h3>
                       		<h4>{{^subtitle}}{{metadesc}}{{/subtitle}}{{subtitle}}</h4>
	                    </a>
	                        <p class="post-meta">Posted by <a href="{{author_url}}#{{author}}">{{author}}</a> on {{date.formatted}}
							</p>
	                </div>
	            </div>{{/popular}}
	    </div></div></div>{{/hide_popular_posts}}
                <!-- Pager 
                <ul class="pager">
                    <li class="next">
                        <a href="{{posts_url}}">Older Posts &rarr;</a>
                    </li>
                </ul>-->
            </div>
        </div>
    </div>
{{>footer.inc}}