{{>header.inc }}
{{!

            	See theme.ergo.js for a description on how this works


}}
    <!-- Main Content -->
    <div class="container">
    	{{^list_hide_content }}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	{{{content}}}
            	<hr/>
            </div>
        </div>
        {{/list_hide_content}}	
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	{{#dynamic_list}}
                <div class="post-preview">
                	{{^first}}<hr/>{{/first}}
                    <a href="/{{uri}}">
                        <h2 class="post-title">{{title}}</h2>
                        <h3 class="post-subtitle">{{^subtitle}}{{metadesc}}{{/subtitle}}{{subtitle}}</h3>
                    </a>
                    <p class="post-meta">Posted by <a href="{{author_url}}">{{author}}</a> on {{date.formatted}}</p>
                </div>
                {{/dynamic_list}}
                <!-- Pager -->
                <!-- 
					<hr>
                	<ul class="pager">
                    <li class="next">
                        <a href="/blog/">Older Posts &rarr;</a>
                    </li>
                </ul>-->
            </div>
        </div>
    </div>
{{>footer.inc}}
